<% direction = index.odd? ? "blog-right" : "blog-left" %>
<% min_hgt_class = blog.avatar? ? "min-height380" : "min-height180" %>

<div id="blog-<%= index %>" class="blog-row <%= direction %> <%= min_hgt_class %>" ele-id="<%= blog.id %>">
	<% if blog.avatar? %>
		<div class="blog-icon">
			<%= cl_image_tag(blog.avatar_url(:standard)) %>
		</div>
	<% end %>

	<div class="blog-metadata">
		<div class="blog-title">
			<h4><%= blog.title %></h4>
		</div>

		<div class="blog-categories overflow_auto">
			<span class="left-span">Category: <%= blog.category %></span>
			<span class="right-span">Sub-category: <%= blog.sub_category %></span>
		</div>

		<div class="blog-date-details overflow_auto">
			<span class="left-span">Created On: <%= blog.created_at.strftime("%d %B %Y") %></span>
			<span class="right-span">Published On: <%= blog.published_on %></span>
		</div>
	</div>

	<div class="blog-description">
		<span><%= blog.description.html_safe %></span>
	</div>
</div>