<%= tinymce_assets %>
<div class="page-content">
<%= form_for @blog, :html => {:class => 'basic-form'} do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-field">
    <%= f.label :title, :class => "form-label" %>
    <%= f.text_field :title, :class => "form-input", :placeholder => "Enter Blog Title" %>
  </div>
  <div class="field form-field">
    <%= f.label :category, :class => "form-label" %>
    <%= f.text_field :category, :class => "form-input" %>
  </div>
  <div class="field form-field">
    <%= f.label :sub_category, :class => "form-label" %>
    <%= f.text_field :sub_category, :class => "form-input" %>
  </div>
  <div class="field form-field" id="blog-description-block">
    <%= f.label :description, :class => "form-label" %>
    <%= f.text_area :description, :class => "text-area tinymce", :placeholder => "Enter Blog Description" %>
  </div>
  <div class="field form-field">
    <%= f.label :avatar, "Blog Cover Image", :class => "form-label" %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="actions form-btns">
    <%= link_to 'Cancel', blogs_path, {:class => "btn btn-default sc-btn"} %>
    <%= f.submit 'Create', :class => "btn btn-primary btn-submit" %>
  </div>
<% end %>
</div>
<%= tinymce :alternate %>