<%= stylesheet_link_tag "common/jquery.mCustomScrollbar"%>
<div class="form-content">
 
  <div class="mt-upload-widget">
    <div class="mt-upload-prompt-box center-block">
      <div class="mt-start-upload-button center-block">
        <%= file_field_tag "target_video", :name => "video[target_file]", :class => "mt-upload-file-input" %>
      </div>
      <div class="mt-start-upload-content center-block">
        <p class="mt-start-upload-title">Select files to upload</p>
        <p>or drag and drop video files</p>
      </div>
      <div id="mt-file-title-box" class="display-none">
        <span id="mt-file-upload-title"></span>
      </div>
    </div>
  </div>

  <%= form_for @video, :html => { :multipart => true, :class => 'basic-form' } do |f| %>
    <% if @video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul>
        <% @video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="video_details_block" style="display:none;">
      <div class="horizontal-line"></div>
      <div id="mt-upload-meta">
        <div class="field form-field margin-top-25">
          <%= f.label :title, :class => "form-label" %>
          <%= f.text_field :title, :class => "form-input", :placeholder => "Video Title" %>
        </div>

        <div class="field form-field">
          <%= f.label :description, :class => "form-label" %>
          <%= f.text_area :description, :class => "text-area height-100", :placeholder => "Video Description" %>
        </div>
        <!-- options_from_collection_for_select(@project.people, "id", "name") can be used -->
        <div class="field form-field">
          <%= f.label :category, :class => "form-label" %>
          <%= select_tag("video[category]", options_for_select(video_category_list), {:class => 'form-input'}) %>
        </div>

        <div class="field form-field">
          <%= f.label :tags, :class => "form-label" %>
          <%= f.text_field :tags, :class => 'form-input width-150', :placeholder => "Enter Tag", :id => "tag-input-field" %>
          <button id="mt-add-tag-btn" type="button" class="btn btn-primary mt-add-tag-btn">+</button>
        </div>

        <div class="tag-container">
        </div>

      </div>
    
      <div class="horizontal-line margin-top-25"></div>
      <div class="form-btns">
        <%= link_to 'Cancel', videos_path, {:class => "btn btn-default sc-btn"} %>
        <%= f.submit "Upload", :id => "mt-upload-submit", :class => "btn btn-primary btn-submit", :disabled => true %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "JQuery_Libs/jquery.mCustomScrollbar.concat.min" %>
<%= javascript_include_tag "videos_form" %>