<div class="page-c-header bg-grey">
  <div id="mytube-header" class="mytube-header">
    <div class="logo">MyTube</div>
    <input class="form-control mytube-search" id="mytube-search-field" type="text" placeholder="What are you looking for">
    <span class="glyphicon glyphicon-search"></span>
    <div class="mytube-actions">
      <span class="glyphicon glyphicon-upload"></span>
    </div>
  </div>
  <div id="mytube-search-result" class="mytube-search-result" style="display: none;">
  </div>
</div>
<div class="align-page-content"></div>

<div class="page-content">
  <%= render 'layouts/message_div' %>
  <div class="mt-feed-section-list">
    <%= render 'video_channel_section' %>
  </div>
</div>
<script type="text/javascript">
  var isCreateChannel = <%= @is_create_channel %>;
</script>
<%= javascript_include_tag "custom_autocomplete" %>
<%= javascript_include_tag "video_index" %>