<div class="page-c-header">
  <div id="mytube-header" class="mytube-header">
    <div class="logo">MyTube</div>
    <input class="form-control mytube-search" id="mytube-search-field" type="text" placeholder="What are you looking for">
    <span class="glyphicon glyphicon-search"></span>
    <div class="mytube-actions">
      <span class="glyphicon glyphicon-upload"></span>
    </div>
  </div>
  <div id="mytube-search-result" class="mytube-search-result" style="display: none;">
  </div>>
</div>

<div class="page-content mt-content">
  <div class="mt-feed-section-list">
    <div class="mt-feed-section">
      <div class="mt-section-title-table">
        <div class="mt-section-title-row">
          <span class="mt-section-title-text">Recommended</span>
        </div>
      </div>

      <div class="mt-multirow-shelf">
        <ul class="mt-shelf-content">
          <% @videos.each do |video| %>
            <li class="mt-shelf-grid-item">
              <div class="mt-lockup-video" data-context-item-id="<%= video.id %>">
                <div class="mt-lockup-thumbnail">
                  <%= cl_image_tag("#{video.video_details["public_id"]}.jpg", :start_offset=>"70", :width=>196, :height=>100, :radius=>20, :border=>"5px_solid_black", :crop=>"scale", :resource_type=>"video") %>
                </div>
                <div class="mt-lockup-content">
                  <div class="mt-lockup-title"><%= video.title %></div>
                  <div class="mt-lockup-meta"></div>
                </div>
              </div>
            </li>
          <% end %>          
        </ul>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "custom_autocomplete" %>
<%= javascript_include_tag "video_index" %>