<p id="notice" class=""><%= notice %></p>

<div class="video-play-box">
	<p>
	  <strong><%= @video.title %></strong>
	</p>

	<%= cl_video_tag("#{@video.video_details["public_id"]}", :loop => true, :controls => true, :transformation => [
	  :height=>400, :width=>700, :crop=>"scale", :quality=>70], :fallback_content => "Your browser does not support HTML5 video tags." ) %>
</div>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
