<div class="right-half">
  <h1 class="margin-top-40 row"><b>Create an account</b></h1>

  <div class="row margin-bottom-20">Its free, go for it.</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="row margin-bottom-20">
      <%= f.text_field :first_name, autofocus: true, class: "short-input", placeholder: "First Name"%>
      <%= f.text_field :last_name, class: "short-input", placeholder: "Last Name" %>
    </div>
    
    
    <div class="row margin-bottom-20">
      <%= f.email_field :email, class: "long-input", placeholder: "Email" %>
    </div>

    <div class="row margin-bottom-20">
      <%= f.password_field :password, class: "long-input", autocomplete: "off", placeholder: "Password" %>
    </div>

    <div class="row margin-bottom-20">
      <%= f.password_field :password_confirmation, class: "long-input", autocomplete: "off", placeholder: "Confirm Password"%>
    </div>

     <div class="row margin-bottom-20">
      <%= f.radio_button :gender, 1%>Female
      <%= f.radio_button :gender, 0%>Male
    </div>
    
    <div class="row margin-bottom-20 width-300">By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy.</div>

    <div class="row margin-bottom-20">
      <%= f.submit "Create an account", class: "btn btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
