<!DOCTYPE html>
<html lang="en">
<head>
  <title>Share And Care</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<%= stylesheet_link_tag "application", controller_name, :media => "all", "data-turbolinks-track" => false %>
	<%= javascript_include_tag "application", controller_name, "data-turbolinks-track" => false %>
  	<%= csrf_meta_tags %>
</head>
<body class="bg-grey">
	<div class="container">
		<%= render 'layouts/header'%>
		<div class="align-body-content"></div>
		<div class="body-container">
			<%= render 'layouts/modal_box'%>
			<%= yield %>
		</div>
	</div>
</body>
</html>
<!-- https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp -->